<form>
    <div class="form-group">
      <label >Name</label>
      <input type="name" class="form-control" id="exampleInputname1" aria-describedby="nameHelp" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="exampleInputorigin1">Origin</label>
      <input type="origin" class="form-control" id="exampleInputorigin1" placeholder="Enter origin">
    </div>
      <div class="form-group">
        <label for="exampleInputgender1">Gender</label>
        <input type="gender" class="form-control" id="exampleInputgender1" placeholder="Enter gender">
      </div>
      <div class="form-group">
        <label for="exampleInputstatus1">Status</label>
        <input type="status" class="form-control" id="exampleInputstatus1" placeholder="Enter status">
      </div>
    <button type="submit" class="btn btn-primary">Create New</button>
  </form>
